<ul>
    <li><%= link_to "Cards", admin_cards_path %></li>
    <li><%= link_to "Game Types", admin_game_types_path %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>
    <li><%= link_to "Stats", admin_stats_path %></li>
    <li><%= link_to "Values", admin_values_path %></li>
</ul>