<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %> : <%= controller.action_name %> (Regional Top Trumps)</title>

  <!-- Source File -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">
  <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css">-->

  <%= stylesheet_link_tag 'application' %>
  <link media="only screen and (max-device-width: 480px)" href="stylesheets/iPhone.css" type="text/css" rel="stylesheet" />

</head>
<body>

<h2><%= link_to "Regional Top Trumps", root_path %></h2>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
